html, body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  pointer-events: all;
}

canvas {
  display: block;
  touch-action: none;
}

.middle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  left: auto !important;
  width: 120px;
  height: 30px;
}